.nothing-to-show {
  color: #b7b7b7;
  min-height: 130px;
  text-align: center;
  padding: 15px 0;
}

.nothing-to-show p {
  font-size: 20px;
}
.defaultfontfamily{
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
